.StockIcon{
    font-size: 40px;
    position: absolute;
    left: 3%;
}

.tableColor{
    color: red;
}

tbody:nth-child(odd){
    background-image: linear-gradient(to right, #92988f 0%, #e4e4d7  51%, #b4beae 100%);
    width: 400px;
    height: 30px;
  }

.removeButton{
    font-size: 20px;
    position: absolute;
}

.list-group-item{
    font-size: 15px;
}

.list-group-item:nth-child(odd){
    background-image: linear-gradient(to right, #c4c8c2 0%, #e4e4d9  51%, #838b7f  100%);    
  }

.searchbar{
    background-image: linear-gradient(to right, #215f00 0%, #e4e4d9  51%, #215f00  100%);
    height: 100px;
}

.stockWatchlist{
    height: 80px;
    text-align: center;
    text-transform: uppercase;
    font-size: 50px;
    background-image: linear-gradient(to right, #215f00 0%, #e4e4d9  51%, #215f00  100%);
    text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.526);
    color: rgba(0,0,0,0.6);
    
}

.stockfontsize{
    font-size: 15px;
}

.HomepageSpinner{
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
}

.centerChart{
    position: absolute;
    left: 25%;  
}

.stockSymbol{
    text-align: center;
}

td{
    text-align: center;
}

th{
    text-align: center;
}

/* .searchInput{
    margin: auto;
    position: absolute;
    left: 10%;
} */

         
         
         

 